.call-to-action-one{
    background-color: #ffffff;
    /* height: 200px; */
}

.grid-container{
    /* margin-top: 100px; */
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-gap: 10px;
    /* background-color: #343A40; */
    padding: 10px;
    align-items: center;
}

.grid-container > div {
    background-color: #ececec;
    border-radius: 5px;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.my-btn{
    width: 200px;
}

.text-title {
    color: #0099ff;
}