.main-div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    
}


.right-text{
    /* width: 50%; */
    word-wrap: break-word;
    
}


.profile-pic{
    width: 450px;
}

.my-intro-text{
    overflow-wrap: break-word;
}

.my-li-group li::marker {
    font-size: 150%;
    color: #0099ff;
    
  }

.my-li-group li {
    border: none;
    color: white;
    overflow-wrap: break-word;
}

.li-text{
    border-radius: 5px;
    padding: 5px;
}

.my-btn {
    width:150px;
    height: 40px;
    margin-right: 10px;
    margin-top: 5px;
}
.btn-outline-primary {
    color: #fff;
    background-color: transparent;
    border-color: #0099ff; 
    
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open>.dropdown-toggle.btn-outline-primary {
    color: #fff;
    background-color: #0099ff;
    border-color: #0099ff; 
    font-size: 18px;
}